@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header{
    width: 100%;
    height: 100px;
}

.logo{
    width: 30%;
    height: 60%;
    text-align: center;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.mainmenu{
    width: 60%;
    height: 100px;
    float: right;
}

.main{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    margin-top: 45px;
}

.mainmenu li:hover{
    background-color: #00c73c;
    color: #fff;
}

.subback{
    width: 100%;
    position: fixed;
    top: 82px;
    left: 0;
    background-color: #00c73c;
    z-index: 1;
    display: none;
}

.submenu{
    width: 60%;
    float: right;
    z-index: 2;
    color: #fff;
}

.submenu ul{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 15px;
}

.submenu ul>li{
    padding: 5px 0;
}

.submenu ul>li:hover{
    background-color: #fff;
    color: #333;
}

.mainimages{
    width: 1200px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.imgbox{
    width: 1200px;
    height: 1000px;
    position: absolute;
}

.contents{
    width: 1200px;
    height: 200px;
}

.notice{
    width: 400px;
    height: 200px;
    float: left;
}

.notice h2{
    text-align: center;
    padding: 10px 0;
    color: #00c73c
}

.notice table{
    border-collapse: collapse;
    text-align: center;
    width: 400px;
    margin-top: 3px;
}

#rowcolor{
    background-color: rgba(0,199,60,0.4);
    color: #333;
}

.notice td{
    padding: 4px 0
}

.popup{
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.content{
    margin-top: 150px;
    width: 600px;
    height: 400px;
    background-color: #fff;
}

.content h2{
    padding: 15px;
}

.content p{
    text-align: center;
    padding: 10px 20px;
}

.content button{
    float: right;
    padding: 5px;
    margin-right: 40px;
    background-color: #00c73c;
    color: #fff;
    border: 1px solid;
    cursor: pointer;
}

.gall{
    width: 400px;
    height: 200px;
    float: left;
}

.gall h2{
    text-align: center;
    padding: 10px;
    color: #00c73c;
}

.gallbox{
    width: 400px;
    height: 145px;
    margin-top: 3px;
    background-color: #737373;
    text-align: center;
}

.gallbox img{
    width: 110px;
    height: 100px;
    padding: 22px 6px;
}

.partner{
    width: 400px;
    height: 200px;
    float: left;
    text-align: center;
}

.partner h2{
    padding: 10px;
    color: #00c73c;
}

.partner img{
    width: 350px;
    height: 148px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #00c73c;
}

.copyright{
    width: 70%;
    float: left;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 30px 0;
}

.sns{
    width: 30%;
    height: 50px;
    text-align: center;
    float: right;
    padding: 5px 0;
}

.sns img{
    width: 40px;
    padding: 0 5px;
}

.family{
    width: 30%;
    height: 50px;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #fff;
}